{% extends "base.html" %} {% block content %}

<form action="/articles" method="get" class="flex gap-3 w-full items-center justify-center">
    <label class="form-control w-full max-w-xl">
        <div class="label">
            <span class="label-text font-semibold text-lg">URLs</span>
        </div>
        <input type="url" name="urls" placeholder="https://scholar.google.com/..." value="{{ query }}"" class="input input-bordered input-lg w-full" />
        <div class="label">
            <span class="label-text-alt text-sm">Separate URLs with commas (,).</span>
        </div>
    </label>

    <input class="btn" type="submit" value="Submit">
</form>

<div class="w-full max-w-xl pt-10 flex flex-col items-center">
    <h1 class="text-2xl font-semibold">Articles</h1>
    
    <ul class="flex flex-col gap-3 w-full max-w-lg">
        {% if articles %}
        {% for article in articles %}
        <li class="card w-full bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">{{ article.title }}</h2>
                <p>{{ article.authors }}</p>
                <div class="card-actions justify-end">
                    <a href="{{ article.link }}" target="_blank" class="btn btn-primary">Cite</a>
                </div>
            </div>
        </li>
        {% endfor %}
    {% else %}
        <p>Empty.</p>
        {% endif %}
    </ul>
</div>
    
    {% endblock %}